{%- liquid
  assign image_set = false
  assign image_set_group = ''
  if media.alt contains '#'
    assign image_set_full = media.alt | split: '#' | last
    if image_set_full contains '_'
      assign image_set = true
      assign image_set_group = image_set_full | split: '_' | first
    endif
  endif
-%}
<div class="product__thumb-item"
  data-index="{{ index0 }}"
  {% if image_set %}
    data-set-name="{{ image_set_group }}"
    data-group="{{ image_set_full }}"
  {% endif %}>
  <a
    href="{{ media.preview_image | img_url: product_zoom_size }}"
    data-product-thumb
    class="product__thumb js-no-transition{% if custom_class != blank %} {{ custom_class }}{% endif %}"
    data-index="{{ index0 }}"
    data-id="{{ media.id }}">
    <div class="image-wrap" style="height: 0; padding-bottom: {{ 100 | divided_by: media.preview_image.aspect_ratio }}%;">

        {%- if media.media_type == 'video' or media.media_type == 'external_video' -%}
          <span class="product__thumb-icon">
            <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-play" viewBox="18.24 17.35 24.52 28.3"><path fill="#323232" d="M22.1 19.151v25.5l20.4-13.489-20.4-12.011z"/></svg>
          </span>
        {%- endif -%}
        {%- if media.media_type == 'model' -%}
          <span class="product__thumb-icon">
            <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-3d" viewBox="18.24 17.35 24.52 28.3"><path fill="#3A3A3A" d="M30.5 17.35l-12.26 7.07v14.16l12.26 7.07 12.26-7.08V24.42L30.5 17.35zM20.24 37.42V25.58l10.26-5.93 10.13 5.85-10.13 5.88v12l-10.26-5.96z"/></svg>
          </span>
        {%- endif -%}

        {%- render 'image-element',
          img: media.preview_image,
          alt: media.alt | escape | split: '#' | first,
          widths: '120, 360, 540, 720',
          sizeVariable: '80px',
          loading: loading,
        -%}
    </div>
  </a>
</div>