{%- form 'product', product, id: form_id, class: 'product-single__form' -%}

  {%- if shop.taxes_included or shop.shipping_policy.body != blank -%}
    <div class="product__policies rte">
      {%- if shop.taxes_included -%}
        {{ 'products.product.include_taxes' | t }}
      {%- endif -%}
      {%- if shop.shipping_policy.body != blank -%}
        {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
      {%- endif -%}
    </div>
  {%- endif -%}

  {%- liquid
    assign enable_dynamic_buttons = false
    if show_dynamic_checkout and template != 'product.preorder'
      assign enable_dynamic_buttons = true
    endif
  -%}

  {%- if enable_dynamic_buttons -%}
    <div class="payment-buttons">
  {%- endif -%}

    {%- liquid
      assign default_text = 'products.product.add_to_cart' | t
      assign button_text = 'products.product.add_to_cart' | t
      if template contains 'preorder'
        assign default_text = 'products.product.preorder' | t
        assign button_text = 'products.product.preorder' | t
      endif
      unless current_variant.available
        assign button_text = 'products.product.sold_out' | t
      endunless
    -%}


    {% comment %} pre-order date for dispatch for any products not in Gempages - am {% endcomment %}
    {% assign current_variant = product.selected_or_first_available_variant %}
    {% assign metafields-data = '[' %}

    {% for variant in product.variants %}
      {% if variant == current_variant %}
        {% assign date-today =  "today" | date: "%s" %}
        {% if metafield-date != empty %}
          {% assign metafield-date =  variant.metafields.custom.pre_order_date  | date: "%s" %}
        {% endif  %}
    
        {% if metafield-date != empty and variant.available %}
          {% comment %} only add pre-order date if inventory < 1 - am {% endcomment %}
          {% if metafield-date > date-today and variant.inventory_quantity < 1 %}
            {% assign variant-date = metafield-date | date:  "%d/%m" %}
            {% assign first-variant-metafield-date =  variant.metafields.custom.pre_order_date  | date: "%d/%m"%}
            <div id="preorder-pdp-date" data-variant-date="{{metafield-date}}">
              <span id="hidden-current-variant-metafield" data-var-title="{{variant.title}}">
                Order today for dispatch by {{variant-date}}</span>
            </div>
            <div id="preorder-pdp-msg">
              <span id="hidden-current-variant-message" data-date="{{metafield-date}}">
                We will fulfill the item as soon as it becomes available</span>
            </div>
          {% else %}
            <div id="preorder-pdp-date" data-variant-date="{{metafield-date}}">
              <span id="hidden-current-variant-metafield" style="display:none;"></span>
            </div>
            <div id="preorder-pdp-msg"><span id="hidden-current-variant-message" data-date="{{metafield-date}}"></span></div>
          {% endif  %}
        {% else %}
          <div id="preorder-pdp-date" data-variant-date="{{metafield-date}}">
            <span id="hidden-current-variant-metafield" style="display:none;"></span>
          </div>
          <div id="preorder-pdp-msg"><span id="hidden-current-variant-message" data-date="{{metafield-date}}"></span></div>
        {% endif  %}
      {% endif  %}

      {% assign metafield-value = variant.metafields.custom.pre_order_date | date: "%d/%m" | replace: '"', "''" %}
      {% assign metafield-value-s = variant.metafields.custom.pre_order_date | date: "%s" | replace: '"', "''" %}
      {% assign metafields-data = metafields-data | append: '{"variant_id":"' | append: variant.id| append: '" , "metafield_value":"' | append: metafield-value | append: '" , "metafield_value_s":"' | append: metafield-value-s | append: '"},' %}

    {% endfor %}

    {% assign metafields-data = metafields-data | append: ']'%}
    {% assign metafields-data = metafields-data | replace: ",]", "]"%}

    <span id="hidden-today" style="color:#ffffff00; font-size: 1px; max-height:1px; display: block;">{{date-today}}</span> 
    <span id="hidden-first-variant-metafield" style="color:#ffffff00; font-size: 1px; max-height:1px; display: block;">{{first-variant-metafield-date}}</span>
    <span id="hidden-variant-metafields" style="color:#ffffff00; font-size: 1px; max-height:1px; display: block;">{{metafields-data}}</span>  {% comment %} pass all metafield dates {% endcomment %}
    {% comment %} end preorder date - am {% endcomment %}


    <button
      {% if product.empty? %}type="button"{% else %}type="submit"{% endif %}
      name="add"
      data-add-to-cart
      class="btn btn--full add-to-cart{% if enable_dynamic_buttons and product.selling_plan_groups == empty %} btn--secondary{% endif %}"
      {% unless current_variant.available %} disabled="disabled"{% endunless %}>
      <span id="atc" data-add-to-cart-text data-default-text="{{ default_text }}"> {% comment %} - am {% endcomment %} 
        {{ button_text }}
      </span>
    </button>

    {%- if enable_dynamic_buttons -%}
      {{ form | payment_button }}
    {%- endif -%}

  {%- if enable_dynamic_buttons -%}
    </div>
  {%- endif -%}

  <div class="shopify-payment-terms product__policies">{{ form | payment_terms }}</div>

  <select name="id" data-product-select class="product-single__variants no-js">
    {%- for variant in product.variants -%}
      {%- if variant.available -%}
        <option {% if variant == product.selected_or_first_available_variant %}
          selected="selected"{% endif %}
          value="{{ variant.id }}">
          {{ variant.title }} - {{ variant.price | money_with_currency }}
        </option>
      {%- else -%}
        <option disabled="disabled">
          {{ variant.title }} - {{ 'products.product.sold_out' | t }}
        </option>
      {%- endif -%}
    {%- endfor -%}
  </select>
{%- endform -%}

{% comment %} preorder date - am {% endcomment %}
<style>
  #preorder-pdp-date,
  #preorder-pdp-msg {
    text-align: center;
    padding: 3px 6px;
    margin: 5px 0 10px;
    display: block;
    clear: both;
  }

  #preorder-pdp-date {
    font-size: 15px;
    /*font-size: 25px;*/
    color: #4047ba;
    font-weight: 600;
  }
  #preorder-pdp-msg {
    font-size: 12px;
    /*font-size: 25px;*/
  }
</style>

<script defer>
  //set initial ATC & Buy Now button - am
  (function () {
    var dateText = document.getElementById('hidden-current-variant-message').innerHTML;

    if (dateText) {
      document.getElementById("atc").innerHTML = "PRE ORDER";
    } else {
      console.log('log) not preorder');
    }
  })();
</script>